[submodule "claude-plugins-official"]
	path = claude-plugins-official
	url = https://github.com/anthropics/claude-plugins-official.git
[submodule "context7"]
	path = context7
	url = https://github.com/upstash/context7.git
[submodule "khazix-skills"]
	path = khazix-skills
	url = https://github.com/KKKKhazix/khazix-skills.git
[submodule "baoyu-design"]
	path = baoyu-design
	url = git@github.com:JimLiu/baoyu-design.git
